security.protocol=SASL_PLAINTEXT
sasl.mechanism=OAUTHBEARER
sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
      oauth.client.id="myClientId" \
      oauth.client.secret="myClientSecret" \
      oauth.token.endpoint.uri="https://oauth.cheetah.trifork.dev/oauth2/token";
sasl.login.callback.handler.class=io.strimzi.kafka.oauth.client.JaasClientOauthLoginCallbackHandler